.header-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
    background-color: rgb(94, 94, 94);
    color: #fff;
}
.logo:hover{
    color: orange;
    cursor: pointer;
}
.header-menu__container{
    display: flex;
    align-items: center;
    
}
.header__links{
    display: flex;
    margin-right: 4rem;
}
.header__links li{
    margin-right: 50px;
    cursor: pointer;
}
.header__links li:hover{
    color: orangered;
}
.header__button button{
    padding: 10px 30px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 30px;
    border:none;
    background-color: orange;
    color:#fff;
    cursor: pointer;
}
.header__button button:hover{
    background-color: rgb(230, 149, 0);
}
.header__menu-icon, .header__links--navbar{
    display: none;
}
.header__links--navbar{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    background: black;
    width: 100%;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar-close{
    font-size: 34px;
    font-weight: 700;
    text-align: end;
    margin-right: 20px;
    cursor: pointer;
}
.header__links--navbar li{
    font-size: 20px;
    font-weight: 600;
    padding: 30px;
    display: flex;
    justify-content: center;
}
.header__links--navbar{

}