@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto seif', sans-serif;
}
ul{
    list-style-type: none;
}

@import url('./header.css');

@import url('./carousel.css');

@import url('./itemCard.css');


@media (max-width:950px) {
    .carousel-wrapper .image{
        width: 200px;
        height: 40vh;
    }
}

@media (max-width:800px) {
    .carousel-wrapper, .header-menu__container{display: none;}
    .header__menu-icon, .header__links--navbar{display: block;}
}

@media (max-width:400px) {
    .logo{font-size: 16px;}
    .image-card_image img{
        width: 170px;
        height: 170px;
    }
}