.item-container-wrapper{
    background-color: #e5e5e5;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}
.image-card{
    background: #fff;
    width: max-content;
    padding: 30px;
    border-radius: 10px;
    margin: 10px;
    font-weight: 700;
}
.image-card_image{
    width: max-content;
    position: relative;
    padding: 10px 0;
}
.image-card_image img{
    width: 220px;
    height: 260px;
}
.image-card_image:hover .image-card__description{
    visibility: visible;
}
.image-card__description{
    cursor: pointer;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    width: 100%;
    font-weight: normal;
    background: rgba(29, 29, 29, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 0px 10px;
}
.image-card h5{
    color: yellowgreen;
    font-size: 20px;
    font-weight: 300;
    margin: 10px 0;
}
.image-card p{
    margin: 10px 0;
}
.image-card button{
    background-color: orange;
    border: none;
    padding: 8px 26px;
    border-radius: 40px;
    font-size: 14px;
    cursor: pointer;
}
.image-card button:hover{
    background-color: rgb(212, 138, 0);
}